<%= link_to 'Nueva foto', {:action => 'foto_nueva'}, :class => 'btn btn-primary btn-large' %>


<ul class="thumbnails">
<% for foto in @fotos %>
	  <li class="span4">
	    <div class="thumbnail">
	      <h3><%= foto.titulo %></h3>
	      <%= 'foto' %>
	      <p><%= foto.descripcion %></p>
		  <i class="icon-user"></i>
		  <i><%= foto.usuario.nombre%></i>
	    </div>
	  </li>
  <% end %>
</ul>